.thumbnail{
    width:100%;
  
}

.ch-pp{
    width:40px;
    border-radius:20px; 
}

.h1{
    width:50px;
    vertical-align:top;        
}



.h2{
    width:245px;
       
}

.video-title{
    margin-top:0;
    font-weight:500;
    font-size:14px;
    line-height:20px;
    margin-bottom:12px;
   
}


.ch-name, .stats{
    color: rgb(96,96,96);
    font-size:12px;
}

.ch-name{
    margin-bottom:5px;
}

.v1{
    margin-bottom:12px;

}

.video-info-grid{
    display: grid;
    grid-template-columns:50px 1fr 

}

.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:15px;
    row-gap:40px;
}

